@charset "UTF-8";

@font-face {
    font-family: 'starlogo' ;
    src: url(../fonts/Fonstars.otf);
}

:root {
    --cor1: #eedb0c;



    --fontelogo: 'starlogo', serif;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.931));
    color: white;
    overflow-x: hidden;
}

h1#logo {
    font-family: var(--fontelogo);
    padding: 10px;
    background-color: black;
    color: white;
    margin: 0;
    z-index: 1000;
    
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(238, 219, 12)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}





.navbar {
    background-color: rgba(0, 0, 0, 0.734);
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.nav-link {
    transition: color 0.3s;
}
.nav-link:hover {
    color: var(--cor1); 
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

#descri {
    margin-bottom: 100px;
}


#perfil {
    background-image:linear-gradient() ;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.765), rgba(0, 0, 0, 0.34)), url(../img/pexels-thgusstavo.jpg);
    
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: -55px;
    z-index: 0;
    
}

.Estilove {
    display: flex;
    justify-content: center;
}

.VerEstilos {
    text-align: center;
    margin: auto;
    display: flex;
    align-content: center;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px;
    border: var(--cor1) solid 1px;
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.735);
}

.VerEstilos:hover {
    padding: 15px;
    box-shadow: 5px 5px 5px 2px black;
    background-color: var(--cor1);
    color: black;

}

#estilos {
    margin-top: 20px;
    
}

#estilos > h1 {
    text-align: center;
}

#estilos  p {
    text-indent: 2em;
    font-size: 1.1em;
}

#descri p {
    text-indent: 2em;
}

#aviso {
    background-color: var(--cor1);
    color: black;
    text-align: center;
    height: 40vh;
    margin: 20px 0px;
    border: black 2px solid;
    border-radius: 20px;
    
}

#aviso > i {
    background-color: black;
    padding: 10px;
    color: var(--cor1);
    border-radius: 50%;
    position: relative;
    top: 35%;
}

#aviso > h2 {
    position: relative;
    top: 40%;
}

#cacheado {
    background-color: white;
    color: black;
    margin: 20px 0px;
    padding: 10px;
    border: var(--cor1) 2px solid;
    border-radius: 20px;
    display: none;
    transition: background-color 0.8s ease; 
}

#cacheado > h2 {
    font-size: 2em;
    padding: 10px 0px;
}

#liso {
    background-color: white;
    color: black;
    margin: 20px 0px;
    padding: 10px;
    border: var(--cor1) 2px solid;
    border-radius: 20px;
    display: none;
    transition: background-color 0.8s ease; 
}

#liso > h2 {
    font-size: 2em;
    padding: 10px 0px;
}

#tituestilo {
    position: relative;
    top: 45px;
    background-color: var(--cor1);
    width: 85%;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

#imgestilo {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0px;
}




#botoes button {
    background-color: black;
    color: aliceblue;
    outline: 0;
    border: 1px solid var(--cor1);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;

    
}

#botoes button:hover {
    padding: 5px;
    transition: 800ms;
    border-radius: 20px 10px 20px 10px;
}

#agendamento {
    margin-top: 100px;
    margin-bottom: 50px;
    transition: height 0.8s ease;
    border-radius: 20px;
    width: 92%;
    padding: 10px;
    height: 80px;
}

.agendar {
    width: 100%;
    text-align: center;
}

.agendar > div {
    background-color: var(--cor1);
    color: black;
    border: none;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 20px;
    transition: width 1s ease;
    width: 90%;
    margin: auto;
    
}

.agendar  i {
    margin-right:10px;
}

#calenmark {
    display: none;
}

.agendar > div:hover {
    width: 100%;
    
}

.agendar > div:hover #calenmark {
    display: inline;
}

.agendar > div:hover #calen {
    display: none;
}

.tabagendar {
    display: flex;
    align-content: center;
    width: 99%;
    height: 1px;
    margin: auto;
    background-color:white;
    border-radius: 0px 0px 20px 20px;
    border: 2px solid black;
    opacity: 0;
    transition:height 1s ease;
}

.aviso2 {
    position: relative;
    top: -35px;
}

.endereco {
    margin: 100px 0px;
    background-color: white;
    padding: 10px;
    
    
}

.endereco > i {
    font-size: 3em;
    display: flex;
    margin: auto;
    color:var(--cor1);
    width: fit-content;
    
}

.endereco > p {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

#produto {
    width: 90%;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    padding-bottom: 20px;
}

#produto > h2 {
    padding: 10px;
    color:var(--cor1);
    text-align: center;
    background-color: black;
    border-radius: 18px 18px 0px 0px;
}

#produto > h3 {
    padding: 0 10px;
    padding-bottom: 10px;
    color: black;
}

#produto > img {
    width: 100%;
    
}

#tagpre {
    background-color: var(--cor1);
    width: 35%;
    margin: 5px 0px;
    border-radius: 0px 30px 30px 0px;
}

#preco {
    padding: 10px;
    color: black;
}

#preco > span {
    color: red;
}

#preco > sup {
    font-size: 0.6em;
    
}

#produto > h4 {
    color: var(--cor1);
    padding: 10px;
    font-size: 1.1em;
}

#produto > #descprod {
    color: black;
    padding: 0px 10px;
    font-size: 1em;
    padding-bottom: 10px;
}

#contecompre {
    width: 100px;
    display: flex;
    margin-bottom: 10px;
}

#compre {
    background: linear-gradient(to right, white, var(--cor1));
    color: black;
    border: 3px solid black;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    
}

#compre:hover {
    background: linear-gradient(to left, white, var(--cor1));
    color: black;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.698);
    padding: 12px;
    
}








.redes {
    background-color: #eedb0c;
    width: 15px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    margin: 20px 0px;
    margin-left: auto;
    transition: width 0.8s ease;
    
    
    
    
}

.redes:hover {
    width: 70px;
    transition: width 0.8s ease;
    
}

.redes > i {
   display: none;
   font-size: 3em;
}

.redes:hover > i {
    display: block;
}

.whats {
    color: rgb(11, 184, 11);
}

.face {
    color: rgb(57, 57, 251);
}

.insta {
    color: crimson;
}

.whats:hover {
    color:black ;
}

.face:hover {
    color:black ;
}

.insta:hover {
    color: black;
}

footer {
    background-color: var(--cor1);
    margin: 20px 0px;
    padding: 5px;
    color: black;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: rgb(159, 8, 8);
    
}




#descri img {
    display: none;
}

@media screen and (min-Width:768px) {
    #perfil {
        height: 480px;

    }

    #perfil > p {
        width: 80%;
        margin: auto;
        position: relative;
        top: 140px;
    } 

    .Estilove {
        position: relative;
        top: 150px;
    }

    #textimg {
        width: 40%;
    }

    img#imgm {
        width: 300px;
        display: block;
        position: absolute;
        top:760px;
        left: 50%;
        border: 3px solid var(--cor1);
        border-radius: 50%;
        
        
    }

    #tituestilo {
        width: 300px;
        margin: auto;
        
    }

    #imgestilo {
        width: 70%;
        display: flex;
        margin: auto;
    }

    #widt {
        width: 50%;

    }

    #widt:hover {
        width: 90%;
    }

    .aviso2 {
        width: 70%;
    }

    #produto {
        width: 70%;
    }

    #tagpre {
        width: 100px;
    }
}

@media screen and (min-Width:1024px) {
    #perfil {
        height: 480px;

    }

    #perfil > p {
        width: 80%;
        margin: auto;
        position: relative;
        top: 140px;
    } 

    .Estilove {
        position: relative;
        top: 150px;
    }

    #descri  p {
        width: 40%;
    }

    img#imgm {
        display: none;
        
        
    }

    img#img2 {
        
        width: 350px;
        display: block;
        position: absolute;
        top:600px;
        left: 50%;
        border: 3px solid var(--cor1);
        
    }

    #tituestilo {
        width: 300px;
        margin: auto;
        
    }

    #imgestilo {
        width: 50%;
        display: flex;
        margin: auto;
    }

    #cacheado p {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #liso p {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #widt {
        width: 50%;

    }

    #widt:hover {
        width: 90%;
    }

    .aviso2 {
        width: 70%;
    }

    #produto {
        width: 70%;
    }

    #tagpre {
        width: 100px;
    }
}